<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.ost.jacky.demo.Application">
         </run>
      </application>
   </extension>
   
   <!--扩展perspectives-->
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.ost.jacky.demo.Perspective"
            name="Demo Perspective"
            id="com.ost.jacky.demo.perspective">
      </perspective>
   </extension>
   
   <!-- 扩展Views -->
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.ost.jacky.demo.View"
            name="View"
            id="com.ost.jacky.demo.view"
            inject="true">
      </view>
      <view
            class="com.ost.jacky.demo.viewers.View1"
            name="View1"
            id="com.ost.jacky.demo.viewers.view1"
            inject="true">
      </view>
      <view
            class="com.ost.jacky.demo.viewers.View2"
            name="View2"
            id="com.ost.jacky.demo.viewers.view2"
            inject="true">
      </view>
      <view
            class="com.ost.jacky.demo.viewers.View3"
            name="View3"
            id="com.ost.jacky.demo.viewers.view3"
            inject="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.ost.jacky.demo.editors.FileEditor"
            default="false"
            id="com.ost.jacky.demo.editors.FileEditor"
            name="Patient Information Management">
      </editor>
   </extension>   
   

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="FlumeAdminTool"
            application="com.ost.jacky.demo.application">
         <property
               name="windowImages"
               value="icons/eclipse16.png,icons/eclipse32.png,icons/eclipse48.png,icons/eclipse64.png, icons/eclipse128.png,icons/eclipse256.png">
         </property>
         <property
               name="appName"
               value="FlumeAdminTool">
         </property>
      </product>
   </extension>

</plugin>
